<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid transparent;
  float: left;
  width: 600px;
  height: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
	border-radius: 2px;
}

div.gallery img {
  width: 25%;
  height: 100%;
}

div.gallery li {
  list-style: none;
}


</style>
</head>
<body>

<div class="gallery">
	<li>
  <a target="_blank" href="images/3page-img1.jpg">
    <img src="images/3page-img1.jpg" alt="Cinque Terre">
  </a>
	</li>
</div>

<div class="gallery">
  <a target="_blank" href="images/3page-img1.jpg">
    <img src="images/3page-img1.jpg" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="images/3page-img1.jpg">
    <img src="images/3page-img1.jpg" alt="Northern Lights">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="images/3page-img1.jpg">
    <img src="images/3page-img1.jpg" alt="Mountains">
  </a>
</div>

</body>
</html>